.personal-container {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 0 0 0.25rem gray;
    text-align: center;
    background-color: lightgray;
}

.personal-filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.personal-space {
    margin: 0 0.5rem;
}
