@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app-container {
  min-width: 100%;
  min-height: 100%;
}

.big-sidebar {
  min-width: 70%;
}

.web-container {
  background-color: #fff;
  margin-left: 235px;
  width: 105.28rem;
  height: 52.5rem;
}

body {
  background-color: #473366;
}
 .sidebar-header {
    padding: 30px;
    height: 150px;;
    min-width: 100%;
    display: flex;
    align-items: center;
    background-color: #5E4D77;
  } 
  
  .sidebar-button {
    margin-left: 100px;
    align-items: center;
    display: flex;
    color: #fff;
  } 
  
  .sidebar-logo {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    display: flex;
  }
  
  .sidebar-logo img {
    width: 190px;
  }
  
  /* .sidenav {
    width: 240px;
    background: #473366;
    position: absolute;
    height: 95vh;
    padding: 0 30px;
    left: -100%;
    transition: all 1s;
  } */
  
  /* .sidenav.active {
    left: 0;
  } */
  
  .sidebar-logo {
    width: 110px;
  }
  
  /* ul {
    padding: 0;
  } */
  
  /* ul li {
    list-style-type:none ;
    margin: 10px 0;
  } */
  
  /* ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 20px ;
    border-radius: 6px;
    font-family: "Taviraj", serif;
    font-weight: 500;
    font-style: normal;
  } */
  
  /* ul li a:hover,
  ul li a.active {
    background: #E29063;
  } */
  
  /* ul li a svg {
    margin-right: 5px;
    font-size: 20px;
  } */
  
  
  /* .sidebar-header svg {
    font-size: 34px;
  } */
  
  /* .main {
    height: 90vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
  } */
  
  /* .sidebarandnavbar{
    
  } */